body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.page-head {
  flex: 0 0 60px;
}

// BS3 grid and flexbox don't play well together
main.page-content {
  flex: 1 1 auto;
  display: flex !important;
  overflow: hidden;
  width: 100% !important;
  margin: 0 !important;
  float: none !important;
  left: auto !important;
  right: auto !important;
  padding: 0 !important;
}

main.page-content>.row {
  flex: 1 1 auto;
  overflow: auto;
  height: 100%;
  margin: 0;
}

// unset BS grid float behavior for flex to work
.page-content [class*="col-"] {
  // float: none !important;
  // width: auto !important;
}


#navigation {
  flex: 0 0 200px;
  overflow-y: auto;
  max-height: 100%;
}

.page-side-nav {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

// html, body {
//   height: 100%;
//   margin: 0;
//   display: flex;
//   flex-direction: column;
// }

// table {
//   width: 100%;
// }

// body {
//   min-width: 320px;
//   // display: flex;
//   // flex-direction: column;
//   overflow: hidden;
// }



.page-head {
  // flex: 0 0 auto;
  // height: 60px;
  // z-index: map-get($zindex, header); 

  .navbar-default {
    min-height: 60px;
  }

  .navbar-right {
    margin-top: 6px;
  }

  .navbar-brand {
    display: flex;
    flex-direction: column;
    // width: 250px;
    height: 100%;
  }

  .navbar-toggle {
    top: 5px;
  }
}

aside.page-side {
  flex: 0 0 200px; // fixed sidebar width
  overflow-y: auto;
  margin: 0;
  // padding: 0;

  // z-index: map-get($zindex, sidebar);
  // width: 200px;
  // height: 100% !important;
  // height: calc(100% - 60px) !important;
  // margin-top: 60px;

  @extend .hidden-xs;
}


.page-content {
  @media (min-width: $screen-sm-min) {

    &.col-lg-10,
    &.col-sm-9 {
      width: calc(100% - 200px);
    }

    &.col-lg-push-2,
    &.col-sm-push-3 {
      left: 200px;
    }
  }
}

.page-content-head {
  padding-top: 20px;
  padding-bottom: 15px;

  .navbar-nav {
    width: 100%;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }
}

.page-content-main {
  min-height: calc(100% - 64px);
  padding: 15px 0 (15px + 58px);
}



// html .bootgrid-table {
//   table-layout: auto !important;
//   td {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     max-width: 0;
//   }
// }

// html .table-responsive {
//   table-layout: fixed;
//   td {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     max-width: 0;
//   }
// }

// @media (max-width: 768px) {
//   .table.bootgrid-table {
//     display: block;
//     width: 100%;

//     thead {
//       display: none;
//     }

//     tr {
//       display: flex;
//       flex-wrap: wrap;
//       border-bottom: 1px solid $gray-dark;
//       margin-bottom: 0.5em;

//       &:nth-child(odd) td {
//         background-color: lighten($body-bg, 1%) !important;
//       }
//     }

//     td {
//       flex: 1 0 50%;
//       display: inline-block;
//       box-sizing: border-box;
//       white-space: normal;
//       padding: 4px 8px;
//       border: none !important;
//     }
//   }
// }