@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}



@mixin btn-cancel {
  margin-right: 1rem;
  background: transparent;
  border-color: transparent;
}

.opnsense_standard_table_form {

  #save,
  #cancel,
  input[value="Save"],
  input[value="Cancel"] {
    float: right;
  }

  #cancel,
  input[value="Cancel"] {
    @include btn-cancel;
  }
}

td:has(.btn-primary):has(.btn-default) {
  button {
    float: right
  }

  .btn-default {
    @include btn-cancel;
  }
}


#reconfigureAct {
  float: right;
  clear: both;
  display: block;
  margin-bottom: 1em;
  margin-left: 1em;

  &+.btn {
    @include btn-cancel;
  }
}

button#flushAct {
  @include btn-cancel;
}

.bootstrap-dialog-footer-buttons button:not(.btn-default) {
  float: right;
  margin-left: 1rem;
}

.modal-footer {
  button[data-dismiss="modal"] {
    background: transparent;
    border-color: transparent;
  }
}


// table-striped default overrides
table.table.table-striped {
  background-color: transparent !important;

  >tbody {
    >tr:hover td {
      // background-color: lighten($table-bg, 35%);
    }

    >tr:nth-of-type(odd) {
      td {
        // background-color: $table-bg;
      }
    }

    >tr:nth-of-type(even) {
      // background-color: $gray-darker;
    }
  }
}

// .page-content-main .content-box form> .table {
//   &.table-striped {
//     &>tbody>tr:nth-of-type(odd) td {
//       // background-color: $gray-dark !important;//$gray-lighter; //#00ff00;// rgba(0,111,255,.4);
//     }

//     &>tbody>tr:nth-of-type(even) td {
//       // background-color: yellowgreen;//; // #ff0000;// rgba(0,111,255,.4);
//     }
//   }
// }
html .table th>a.sortable,
html .table>thead>tr>td,
html .table>thead>tr>th {
  font-weight: bold !important;
}

.table.opnsense_standard_table_form,
form>.table-responsive>.table,
form>table.table {
  >thead {
    th {
      font-weight: bold;
      @extend .h2;
    }
  }

  // heuristic to find form labels in tables
  >tbody > tr > td {
    border-top: none;

    &:has([class*="fa-info-circle"]) {
      white-space: nowrap;
    }
  }

  >tbody>tr>td>strong {
    // @extend .h2;
    font-weight: bold;
  }

  &.table-striped {
    >tbody>tr:not(:last-child):not(:first-child) {
      border-bottom: 1px solid $gray-dark;
    }

    table.table.table-striped {
      background-color: inherit !important;

      >tr:nth-of-type(odd) {
        td {
          background-color: inherit;
        }
      }

      >tr:nth-of-type(even) {
        background-color: inherit;
      }
    }
  }

  table,
  .table {
    background-color: transparent !important;
    color: $table-color;
  }
}

#allcfg+.content-box {
  .opnsense_standard_table_form {

    &,
    & td {
      background-color: transparent;
    }
  }
}

html .table th>a.sortable {
  color: $text-color;
  text-decoration: none;
  @extend .h3;

  &:hover {
    color: $link-hover-color;
  }

  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:active {
    color: $link-hover-color;
  }
}

#update_status_container {
  textarea {
    background-color: $background-secondary;
  }
}

.dropdown-menu .divider {
  background-color: $gray;
}

// tokenized input
html .tokenize {
  >.tokens-container {
    // margin-top: 0px;
    margin-bottom: 0.5rem;
    background-color: $input-bg;
    border-color: $input-border;

    >.token {
      background-color: darken($brand-primary, 5%);
      border: none;
    }

    >.token-search {
      background-color: transparent;
      border: none;

      input {
        border: none;
      }
    }
  }

  &.focus.form-control {
    outline: none !important;
    box-shadow: none;
    border-color: $input-border-focus;
  }

}

hr {
  opacity: 0.25;
}

input#mtu,
input#mss {
  width: 7em;
}

// .view-info {
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;
//   max-width: 4rem;
// }

.command-toggle {

  &.fa-check-square-o {
    color: $gray-lighter;
  }

  &.fa-square-o {
    color: $gray;
  }
}

html .bootgrid-table {

  .bootgrid-table td {
    text-align: left;
  }

  th:hover,
  th:active {
    background: $table-bg;
  }

  th>.column-header-anchor {
    color: $text-color-muted;
    cursor: not-allowed;
    text-decoration: none;
  }
}


#menu_messages .navbar-text {
  font-size: $font-size-small;
  display: inline-block;
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  mask-image: linear-gradient(to right, black 50%, transparent);
  -webkit-mask-image: linear-gradient(to right, black 50%, transparent);
  transition: max-width 0.8s ease;

  &:hover {
    mask-image: none;
    -webkit-mask-image: none;
    overflow: visible;
    max-width: 40rem;
  }

}

#menu_search_box {
  transition: width 0.3s ease;

}

#mainmenu {
  .active-menu-title {
    background-color: $background-secondary !important;

    &+.active-menu {
      background-color: lighten($background-secondary, 10%) !important;
    }
  }

  .list-group-item {
    background-color: transparent;
  }
}

.nav {
  &.nav-tabs {
    background-color: $background-tertiary;
    // width: auto;
    display: inline-block;
    @include border-radius(5px);
    border: none;
    padding: 0.5rem;

    >li {
      >a {
        border-bottom: none;
        @include border-radius(5px);
        color: $text-color;

        &:hover {
          border-bottom: none;
          color: $brand-primary;
          background-color: inherit;
          // background-color: red;
        }
      }

      &.active a {
        color: $brand-primary;

        &:hover {
          background-color: $nav-tabs-active-link-hover-bg;
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
}

// tunables page
table#tunable.bootgrid-table {
  table-layout: auto;
  width: 100%;

  thead th a {
    font-weight: bold;
  }

  .select-cell {
    padding: 1.25em 0.6em;
  }

  thead,
  tbody {

    th,
    td {

      // tunable name
      // truncate from beginning of the string
      &:nth-child(2) {
        width: 20%;
        text-overflow: ellipsis;
        white-space: nowrap !important;
        overflow: hidden;
        font-weight: bold;
        direction: rtl;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:nth-child(3) {
        width: 10%;
        color: $text-color-muted;
      }

      &:nth-child(4) {
        width: 10%;
        color: $brand-primary
      }

      &:nth-child(5) {
        width: 10%;
        color: $text-color-muted;
      }

      // description
      &:nth-child(6) {
        width: 50%;
        white-space: normal;
        color: $text-color-muted;
      }

      &:nth-child(7) {
        // width set inline
      }
    }
  }
}

.panel-default {
  .panel-footer {
    background-color: lighten($panel-bg, 5%);
    border-top: none;
  }
}

// firewall rules page

// limit length of begin/end port input fields
// in fw rule form
#srcbeginport,
#srcendport {
  width: 12em;
}

/*
// move Apply button and message to the bottom to make it 
// consistent with the other forms

.row:has(#fw-alert-box) {
  display: flex;
  flex-direction: column;

  #fw-alert-box {
    order: 1;
  }

  >section {
    order: 0;
  }
}
*/

// "advanced mode" and "full help" toggles
a:has(i[id*="show_"]),
td:has(i[id*="show_"]) {
  i {
    font-size: 2.5em;
    vertical-align: middle;

    &.fa-toggle-on {
      color: $brand-primary;
    }

    &.fa-toggle-off {
      color: $gray-lighter;
    }
  }

  i[id*="show_all_help"] {
    &.fa-toggle-off::before {
      font-size: 0.75em;
      content: "\e085";
      font-family: 'Glyphicons Halflings';
    }

    &.fa-toggle-on::before {
      font-size: 0.75em;
      content: "\e086";
      font-family: 'Glyphicons Halflings';
    }
  }

  // #show_all_help_page::before {
  //   content: "\e017"; // glyph: glyphicon-on
  //   font-family: 'Glyphicons Halflings';
  // }
}


// fix position of 'select all' checkbox in bootgrid tables
.bootgrid-table th.select-cell .select-box {
  margin-bottom: 0.75em;
}

// firewall rules
table.table.opnsense-rules {
  >tbody {

    >tr {

      td:nth-child(4),
      // src
      td:nth-child(6) {
        // dest
        color: $text-color-accent;
      }
    }
  }
}

// gateways table
table#grid-gateways>tbody>tr {
  &.text-muted td {
    color: $text-color-muted !important;
  }

  >td:nth-child(2) {}

  >td:nth-child(6) {
    color: $brand-primary;
  }

  >td:nth-child(8) {}
}

// interfaces overview
html table#grid-overview {
  table-layout: fixed;

  >thead>tr>th {
    &:nth-child(1) {
      width: 2em;
    }

    &:nth-child(2) {
      min-width: 6em;
      text-align: left !important;
    }

    &:nth-child(3) {
      // width: 2em;
    }

    &:nth-child(4) {
      // width: 2em;
    }
  }

  > tbody {

    > tr {
      &:has([data-original-title="Unassigned Interface"]){
        opacity: 0.6;
        background-color: red;
      }
    }
  }
}

html #interface-selection-wrapper {
  .bootstrap-select[style] {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
    display: block;
  }
  .bootstrap-select .dropdown-toggle  {
    width: 100% !important;
  }
  
}
// #grid-overview > tbody:nth-child(2) > tr:nth-child(5) > td:nth-child(2)